In [250]:
%load_ext autoreload
%autoreload 2

import numpy as np
import pandas as pd
import os
import re
import sys
sys.path.append("./utils")

from generate_features import *
from get_targets import *
from utils.utils import Model, cross_validate_time_series

from sklearn.model_selection import train_test_split
from sklearn.model_selection import TimeSeriesSplit
from sklearn.utils.class_weight import compute_class_weight
from sklearn.metrics import confusion_matrix
from sklearn.metrics import average_precision_score
from sklearn.metrics import f1_score
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import mean_absolute_error

from catboost import CatBoostClassifier
from catboost import CatBoostRegressor

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [179]:
DATA_PATH = "./data/prices/tech_companies_15minute_train.csv"
MODEL_PATH = ""

TICKERS = ["AAPL", "MSFT", "GOOG", "TSLA", "NVDA", "BABA", "AMD", "ATVI", "ZG"]
TARGET_TICKER = "AAPL"
ADDITIONAL_TICKERS = ["MSFT", "GOOG", "TSLA", "NVDA", "BABA", "AMD", "ATVI", "ZG"]

In [180]:
data = pd.read_csv(DATA_PATH, index_col=0)
data.dropna(inplace=True)
data = data[[ticker in TICKERS for ticker in data["ticker"]]]
data

,volume,open,close,high,low,date,ticker
0,67612.0,62.9025,62.6025,63.0275,62.6025,2020-04-06 07:59:00,AAPL
1,36348.0,62.6100,62.7500,62.7750,62.5125,2020-04-06 08:14:00,AAPL
2,27440.0,62.8500,62.7875,62.8500,62.4875,2020-04-06 08:29:00,AAPL
3,46384.0,62.8000,62.8675,62.8875,62.6375,2020-04-06 08:44:00,AAPL
4,24700.0,62.8000,62.7175,62.8475,62.5525,2020-04-06 08:59:00,AAPL
...,...,...,...,...,...,...,...
427458,105229.0,66.1100,66.4000,66.4700,66.1010,2021-11-09 20:30:00,ZG
427459,175685.0,66.4400,66.6300,66.7300,66.3100,2021-11-09 20:45:00,ZG
427460,8144.0,66.6200,66.6200,66.6200,66.6200,2021-11-09 21:00:00,ZG
427461,100.0,66.1900,66.1900,66.1900,66.1900,2021-11-09 21:30:00,ZG
427462,300.0,66.6200,66.6200,66.6200,66.6200,2021-11-10 00:30:00,ZG

In [181]:
target_data = data[data["ticker"] == TARGET_TICKER]
additional_data = data[[ticker in ADDITIONAL_TICKERS for ticker in data["ticker"]]]
display(target_data)
display(additional_data)

,volume,open,close,high,low,date,ticker
0,67612.0,62.9025,62.6025,63.0275,62.6025,2020-04-06 07:59:00,AAPL
1,36348.0,62.6100,62.7500,62.7750,62.5125,2020-04-06 08:14:00,AAPL
2,27440.0,62.8500,62.7875,62.8500,62.4875,2020-04-06 08:29:00,AAPL
3,46384.0,62.8000,62.8675,62.8875,62.6375,2020-04-06 08:44:00,AAPL
4,24700.0,62.8000,62.7175,62.8475,62.5525,2020-04-06 08:59:00,AAPL
...,...,...,...,...,...,...,...
25569,3613.0,150.5200,150.5000,150.5500,150.5000,2021-11-09 23:45:00,AAPL
25570,8250.0,150.4900,150.6300,150.6300,150.4900,2021-11-10 00:00:00,AAPL
25571,10936.0,150.6000,150.5500,150.6000,150.4600,2021-11-10 00:15:00,AAPL
25572,9524.0,150.5500,150.6000,150.6700,150.5000,2021-11-10 00:30:00,AAPL
25573,11174.0,150.5800,150.6500,150.6500,150.5600,2021-11-10 00:45:00,AAPL

,volume,open,close,high,low,date,ticker
31863,1703.0,1138.36,1138.00,1138.36,1138.000,2020-04-06 11:00:00,GOOG
31864,397.0,1138.00,1138.10,1138.10,1138.000,2020-04-06 11:15:00,GOOG
31865,1671.0,1138.00,1138.50,1138.50,1135.880,2020-04-06 11:30:00,GOOG
31866,1591.0,1138.22,1138.22,1138.22,1138.220,2020-04-06 12:00:00,GOOG
31867,1267.0,1135.00,1136.00,1138.00,1135.000,2020-04-06 12:15:00,GOOG
...,...,...,...,...,...,...,...
427458,105229.0,66.11,66.40,66.47,66.101,2021-11-09 20:30:00,ZG
427459,175685.0,66.44,66.63,66.73,66.310,2021-11-09 20:45:00,ZG
427460,8144.0,66.62,66.62,66.62,66.620,2021-11-09 21:00:00,ZG
427461,100.0,66.19,66.19,66.19,66.190,2021-11-09 21:30:00,ZG
427462,300.0,66.62,66.62,66.62,66.620,2021-11-10 00:30:00,ZG

In [182]:
additional_data["ticker"].unique()

array(['GOOG', 'MSFT', 'TSLA', 'NVDA', 'BABA', 'AMD', 'ATVI', 'ZG'],
      dtype=object)

In [183]:
def get_sample_weight(y: np.ndarray):
    num_observations = len(y)
    sample_weight = np.zeros(num_observations)
    for class_idx in np.unique(y):
        idx = (y == class_idx)
        sample_weight[idx] = idx.sum() / num_observations

    return sample_weight

In [211]:
def compute_balanced_accuracy(y_true: np.ndarray, y_pred: np.ndarray):
    assert y_true.shape == y_pred.shape, f"{y_true.shape}, {y_pred.shape}"
    sample_weight = get_sample_weight(y_true)
    assert y_true.shape == sample_weight.shape, f"{y_true.shape}, {sample_weight.shape}"
    return balanced_accuracy_score(y_true, y_pred, sample_weight=sample_weight)

In [216]:
def compute_balanced_mae(y_true: np.ndarray, y_pred: np.ndarray):
    assert y_true.shape == y_pred.shape, f"{y_true.shape}, {y_pred.shape}"
    sample_weight = get_sample_weight(y_true)
    assert y_true.shape == sample_weight.shape, f"{y_true.shape}, {sample_weight.shape}"
    return mean_absolute_error(y_true, y_pred, sample_weight=sample_weight)

In [185]:
def cross_validate_catboost(X: np.ndarray, y: np.ndarray, metric):
    tscv = TimeSeriesSplit()
    
    metrics = []
    for fold_idx, (train_idx, test_idx) in enumerate(tscv.split(X)):
        X_train = X[train_idx]
        X_test = X[test_idx]
        
        y_train = y[train_idx]
        y_test = y[test_idx]
        
        assert X_train.shape[0] == y_train.shape[0]
        assert X_test.shape[0] == y_test.shape[0]
        
        class_weight = compute_class_weight(class_weight="balanced", classes=np.unique(y_train), y=y_train)
        model = CatBoostClassifier(class_weights=class_weight, verbose=False)
        model.fit(X_train, y_train)
        predictions = model.predict(X_test).flatten()
        assert y_test.shape == predictions.shape, f"{y_test.shape}, {predictions.shape}"
        
        fold_metric = metric(y_test, predictions)
        metrics.append(fold_metric)
        print(f"Fold {fold_idx + 1}: {fold_metric}")
    
    return np.mean(metrics)

In [257]:
THRESHOLD = 1.0
MAX_TIME_LAG = 30

all_data = simple_indicators(target_data).drop(["ticker"], axis=1)
for ticker in additional_data["ticker"].unique():
    ticker_data = additional_data[additional_data["ticker"] == ticker]
    ticker_indicators = simple_indicators(ticker_data).drop(["ticker"], axis=1)
    all_data = all_data.join(ticker_indicators, rsuffix=f"_{ticker}", how="left")

dates = pd.Series(all_data.index).apply(lambda val: pd.Timestamp(val))
all_data.reset_index(drop=True, inplace=True)
all_data["weekday"] = dates.dt.weekday
all_data["day"] = dates.dt.day
all_data["hour"] = dates.dt.hour
all_data["target"] = get_first_threshold_bump(all_data, threshold=THRESHOLD, max_time_lag=MAX_TIME_LAG)
all_data.dropna(subset=["target"], inplace=True)

# all_data.ffill(inplace=True)
# all_data.bfill(inplace=True)

print(all_data.columns)
all_data

Index(['volume', 'open', 'close', 'high', 'low', 'macdh', 'boll', 'rsi_14',
       'chop', 'mfi',
       ...
       'open_-5~0_min_ZG', 'open_-5~0_max_ZG', 'high_-5~0_min_ZG',
       'high_-5~0_max_ZG', 'low_-5~0_min_ZG', 'low_-5~0_max_ZG', 'weekday',
       'day', 'hour', 'target'],
      dtype='object', length=211)

,volume,open,close,high,low,macdh,boll,rsi_14,chop,mfi,...,open_-5~0_min_ZG,open_-5~0_max_ZG,high_-5~0_min_ZG,high_-5~0_max_ZG,low_-5~0_min_ZG,low_-5~0_max_ZG,weekday,day,hour,target
0,67612.0,62.9025,62.6025,63.0275,62.6025,0.000000,62.602500,NaN,0.000000,0.500000,...,NaN,NaN,NaN,NaN,NaN,NaN,0,6,7,0.0
1,36348.0,62.6100,62.7500,62.7750,62.5125,0.001471,62.676250,100.000000,10.946899,0.500000,...,NaN,NaN,NaN,NaN,NaN,NaN,0,6,8,0.0
2,27440.0,62.8500,62.7875,62.8500,62.4875,0.002090,62.713333,100.000000,25.197494,0.500000,...,NaN,NaN,NaN,NaN,NaN,NaN,0,6,8,0.0
3,46384.0,62.8000,62.8675,62.8875,62.6375,0.003827,62.751875,100.000000,33.290311,0.500000,...,NaN,NaN,NaN,NaN,NaN,NaN,0,6,8,0.0
4,24700.0,62.8000,62.7175,62.8475,62.5525,-0.000227,62.745000,59.969754,41.511834,0.500000,...,NaN,NaN,NaN,NaN,NaN,NaN,0,6,8,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25569,3613.0,150.5200,150.5000,150.5500,150.5000,-0.033072,150.681595,44.008130,44.661970,0.566020,...,NaN,NaN,NaN,NaN,NaN,NaN,1,9,23,0.0
25570,8250.0,150.4900,150.6300,150.6300,150.4900,-0.022363,150.677845,49.123774,40.992106,0.468112,...,NaN,NaN,NaN,NaN,NaN,NaN,2,10,0,0.0
25571,10936.0,150.6000,150.5500,150.6000,150.4600,-0.019414,150.670345,46.319195,49.051106,0.019333,...,NaN,NaN,NaN,NaN,NaN,NaN,2,10,0,0.0
25572,9524.0,150.5500,150.6000,150.6700,150.5000,-0.013142,150.656345,48.305672,49.593726,0.157142,...,66.11,66.62,66.19,66.73,65.9043,66.62,2,10,0,0.0
25573,11174.0,150.5800,150.6500,150.6500,150.5600,-0.005087,150.647595,50.286837,53.311220,0.452631,...,NaN,NaN,NaN,NaN,NaN,NaN,2,10,0,0.0

In [258]:
all_data["target"].value_counts()

 0.0    9827
 1.0    8583
-1.0    7164
Name: target, dtype: int64

In [259]:
TEST_RATIO = 0.2

X = all_data.drop(["target"], axis=1).to_numpy()
y = all_data["target"].to_numpy()

print(X.shape, y.shape)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=TEST_RATIO, shuffle=False)
X_train.shape, X_test.shape

(25574, 210) (25574,)

((20459, 210), (5115, 210))

In [260]:
class CatBoostStockClassifier(Model):
    def __init__(self, X_train, y_train):
        super(CatBoostStockClassifier, self).__init__(X_train, y_train)
        
        class_weight = compute_class_weight(class_weight="balanced", classes=np.unique(self.y_train), y=self.y_train)
        self.model = CatBoostClassifier(verbose=False, class_weights=class_weight)
        
    def fit(self):
        self.model.fit(self.X_train, self.y_train)
        
    def predict(self, X_test):
        return self.model.predict(X_test)

In [261]:
class CatBoostStockRegressor(Model):
    def __init__(self, X_train, y_train):
        super(CatBoostStockRegressor, self).__init__(X_train, y_train)
        
        class_weight = compute_class_weight(class_weight="balanced", classes=np.unique(self.y_train), y=self.y_train)
        self.model = CatBoostRegressor(verbose=False, loss_function="MAE")
        
    def fit(self):
        self.model.fit(self.X_train, self.y_train)
        
    def predict(self, X_test):
        return self.model.predict(X_test)

In [262]:
cross_validate_time_series(X, y, compute_balanced_accuracy, CatBoostStockClassifier)

Fold 1: 0.37927818186621964
Fold 2: 0.35932133899169266
Fold 3: 0.3403696304910091
Fold 4: 0.4522503853537369
Fold 5: 0.45415632106762915

0.3970751715540575

In [233]:
cross_validate_time_series(X, y, compute_balanced_mae, CatBoostStockRegressor)

Custom logger is already specified. Specify more than one logger at same time is not thread safe.

Fold 1: 1.066471360436089
Fold 2: 0.7831211159647611
Fold 3: 0.7905622733289464
Fold 4: 0.5456308284234155
Fold 5: 0.5510458691877238

0.7473662894681871

In [254]:
model = CatBoostStockRegressor(X_train, y_train)
model.fit()
predictions = model.predict(X_test)

In [255]:
predictions[predictions < -1] = -1
predictions[predictions > 1] = 1
predictions = np.round(predictions)

print(np.unique(y_test, return_counts=True))
confusion_matrix(y_test, predictions)

(array([-1.,  0.,  1.], dtype=float32), array([1213, 2467, 1435], dtype=int64))

array([[ 169,  983,   61],
       [ 236, 2146,   85],
       [ 250, 1093,   92]], dtype=int64)

In [256]:
feat_importance = [(imp, feat) for imp, feat in zip(model.model.get_feature_importance(), all_data.columns)]
feat_importance.sort(reverse=True)
feat_importance

[(9.857096744330663, 'day'),
 (6.05413953733913, 'weekday'),
 (3.179127518104027, 'rsi_14'),
 (2.3811252393011686, 'close_-5~0_max'),
 (2.2559016856446177, 'boll'),
 (2.102784221503548, 'boll_BABA'),
 (2.0948612690293635, 'close'),
 (1.9430839781400284, 'boll_AMD'),
 (1.7718832419200063, 'hour'),
 (1.7345964774707172, 'close_-5~0_min'),
 (1.708913368732167, 'close_-5~0_max_BABA'),
 (1.684690702171891, 'close_-5~0_max_TSLA'),
 (1.6332521886192515, 'high_BABA'),
 (1.5979443803756948, 'low'),
 (1.546437614856204, 'high'),
 (1.5415682171695329, 'volume_10_ema_AMD'),
 (1.5166089991530955, 'open_BABA'),
 (1.5022057656168681, 'close_-5~0_min_TSLA'),
 (1.4586862543479486, 'low_BABA'),
 (1.4541746028614768, 'close_-5~0_max_AMD'),
 (1.3995640308171504, 'close_-5~0_min_BABA'),
 (1.3597747311576873, 'boll_MSFT'),
 (1.353840381712722, 'volume_10_ema'),
 (1.316592556046942, 'boll_TSLA'),
 (1.2978388158743248, 'macdh'),
 (1.249899306423733, 'close_BABA'),
 (1.2294340679417082, 'chop_BABA'),
 (1.2210737134571028, 'rsi_14_BABA'),
 (1.0963113321524012, 'open'),
 (1.0157992563629101, 'close_-5~0_min_AMD'),
 (0.9887509209784954, 'open_MSFT'),
 (0.9630257479068155, 'close_-5~0_min_MSFT'),
 (0.9335196513894211, 'open_AMD'),
 (0.9183835551754741, 'high_AMD'),
 (0.8789126845244036, 'high_TSLA'),
 (0.8075408851236455, 'volume_10_mstd'),
 (0.8002098232519795, 'volume_10_ema_NVDA'),
 (0.7851267912390036, 'open_TSLA'),
 (0.7684748604377263, 'close_-5~0_max_MSFT'),
 (0.7331535552770938, 'close_TSLA'),
 (0.7209630988933386, 'volume_10_ema_MSFT'),
 (0.6991091535400189, 'low_MSFT'),
 (0.6921106853671052, 'rsi_14_AMD'),
 (0.6583873269645361, 'macdh_TSLA'),
 (0.6526683101021675, 'volume_-5~0_min'),
 (0.649404424336941, 'macdh_NVDA'),
 (0.6342475023004583, 'rsi_14_TSLA'),
 (0.6092690287009564, 'macdh_BABA'),
 (0.5935164082823868, 'high_MSFT'),
 (0.5838251594097906, 'low_TSLA'),
 (0.576878998921335, 'boll_NVDA'),
 (0.5633490323871031, 'close_-5~0_min_NVDA'),
 (0.5361992383485459, 'low_AMD'),
 (0.5189217295790588, 'close_MSFT'),
 (0.515764738937022, 'macdh_MSFT'),
 (0.4996876530536629, 'chop'),
 (0.4930884782767383, 'close_-5~0_max_NVDA'),
 (0.4870117427764921, 'volume_10_mstd_BABA'),
 (0.4647710504186574, 'volume_-5~0_max'),
 (0.4633985900513972, 'rsi_14_NVDA'),
 (0.4590908287099221, 'open_NVDA'),
 (0.4395769019668729, 'rsi_14_ATVI'),
 (0.41961639702984627, 'volume_-5~0_min_BABA'),
 (0.41772710824125875, 'mfi_BABA'),
 (0.4146947897518292, 'volume_10_sma_MSFT'),
 (0.4072692912090693, 'close_NVDA'),
 (0.38950591590258865, 'mfi'),
 (0.36904432812037696, 'volume_10_ema_TSLA'),
 (0.36561028641368293, 'chop_MSFT'),
 (0.36406318395222304, 'close_AMD'),
 (0.36097568025061155, 'volume_10_ema_BABA'),
 (0.3562875239204963, 'boll_ZG'),
 (0.3404211715875628, 'mfi_MSFT'),
 (0.3345359769754919, 'low_NVDA'),
 (0.32758124761356566, 'boll_ATVI'),
 (0.3216502859665985, 'volume_10_sma_BABA'),
 (0.3214501459457156, 'mfi_NVDA'),
 (0.32036120979249066, 'volume_-5~0_max_MSFT'),
 (0.3201062204669182, 'volume_-5~0_min_MSFT'),
 (0.31578188387405154, 'macdh_AMD'),
 (0.28969450419663867, 'volume_10_mstd_TSLA'),
 (0.2806162896293168, 'open_ATVI'),
 (0.27935610664752886, 'macdh_ATVI'),
 (0.27637934515720064, 'volume_10_mstd_AMD'),
 (0.27249871184536173, 'volume_-5~0_max_BABA'),
 (0.2693126100820003, 'chop_NVDA'),
 (0.26134684265998454, 'volume_-5~0_min_TSLA'),
 (0.2607053770271273, 'volume_-5~0_max_AMD'),
 (0.260229502993954, 'volume_MSFT'),
 (0.2552132246919409, 'rsi_14_GOOG'),
 (0.24532397685461385, 'volume_10_sma'),
 (0.22462887218555191, 'volume_-5~0_min_AMD'),
 (0.21685940655004915, 'macdh_GOOG'),
 (0.20245222364591256, 'low_ATVI'),
 (0.20161446917126458, 'volume_-5~0_max_NVDA'),
 (0.1989904287198393, 'volume_10_sma_TSLA'),
 (0.19811687189378124, 'volume_10_mstd_GOOG'),
 (0.19232646277913912, 'volume_10_ema_ZG'),
 (0.19026517182971306, 'mfi_TSLA'),
 (0.18287273198198528, 'volume_10_mstd_NVDA'),
 (0.18118296844221898, 'volume_10_sma_AMD'),
 (0.1807475776397878, 'mfi_GOOG'),
 (0.17719392059169198, 'volume_-5~0_min_ATVI'),
 (0.17541549604896586, 'volume_10_mstd_MSFT'),
 (0.17320436059762961, 'rsi_14_MSFT'),
 (0.17242171841113169, 'low_ZG'),
 (0.171367464499924, 'close_ZG'),
 (0.17072879660397347, 'volume_10_sma_NVDA'),
 (0.168359044147336, 'chop_AMD'),
 (0.1681574723196673, 'close_-5~0_max_ATVI'),
 (0.1671786514023594, 'close_-5~0_max_GOOG'),
 (0.16694983481946385, 'volume_-5~0_max_GOOG'),
 (0.15305636898450775, 'high_x_boll_ub_BABA'),
 (0.15208344198408275, 'volume_10_sma_ZG'),
 (0.14702983910045062, 'chop_TSLA'),
 (0.14158531645706465, 'mfi_ZG'),
 (0.14147832384472453, 'volume_10_ema_GOOG'),
 (0.1363077089761441, 'volume_-5~0_max_TSLA'),
 (0.12977885225202024, 'volume_AMD'),
 (0.1277403525158394, 'chop_GOOG'),
 (0.12190305048978628, 'high_ATVI'),
 (0.12143984875507204, 'close_-5~0_max_ZG'),
 (0.1213261772659533, 'volume'),
 (0.11980139165930233, 'close_-5~0_min_ZG'),
 (0.11539563673866343, 'high_NVDA'),
 (0.11527740997854802, 'open_ZG'),
 (0.11502822124198314, 'volume_10_mstd_ZG'),
 (0.11495479331426302, 'close_-5~0_min_ATVI'),
 (0.11295084901893708, 'volume_-5~0_min_ZG'),
 (0.11120321638562376, 'mfi_AMD'),
 (0.1059775289216295, 'boll_GOOG'),
 (0.10524933298513156, 'volume_BABA'),
 (0.09300128288456191, 'macdh_ZG'),
 (0.09169699017535213, 'volume_TSLA'),
 (0.08995615257335507, 'volume_ATVI'),
 (0.0847527136753356, 'close_ATVI'),
 (0.08289728500390324, 'volume_-5~0_min_NVDA'),
 (0.0737371686266233, 'mfi_ATVI'),
 (0.07313119230936109, 'low_GOOG'),
 (0.07056262347143707, 'close_GOOG'),
 (0.07048325127505274, 'low_x_boll_lb_MSFT'),
 (0.06808509753362772, 'volume_-5~0_min_GOOG'),
 (0.06538113165544689, 'low_x_boll_lb_BABA'),
 (0.057182870701036115, 'close_-5~0_min_GOOG'),
 (0.0569661237638818, 'chop_ZG'),
 (0.056204307938452325, 'rsi_14_ZG'),
 (0.05088819311565394, 'high_GOOG'),
 (0.04894088301824917, 'chop_ATVI'),
 (0.04673856578770874, 'volume_10_mstd_ATVI'),
 (0.04359281717288804, 'high_ZG'),
 (0.0411546926308378, 'high_x_boll_ub_MSFT'),
 (0.04042113489206682, 'volume_10_sma_GOOG'),
 (0.03520101618189419, 'high_x_boll_ub_NVDA'),
 (0.03216199965302499, 'volume_10_sma_ATVI'),
 (0.02393811652012271, 'high_x_boll_ub_ZG'),
 (0.018700326783543504, 'open_GOOG'),
 (0.01720850714370624, 'volume_-5~0_max_ZG'),
 (0.016961541081624686, 'high_x_boll_ub_TSLA'),
 (0.016724182430464387, 'volume_NVDA'),
 (0.014683254234650408, 'volume_-5~0_max_ATVI'),
 (0.013162759480839685, 'volume_10_ema_ATVI'),
 (0.012478526950179782, 'low_x_boll_lb_ATVI'),
 (0.00891150438974643, 'high_x_boll_ub_GOOG'),
 (0.007501306984506705, 'low_x_boll_lb_ZG'),
 (0.0048926286092709804, 'low_x_boll_lb_AMD'),
 (0.004814726309341731, 'volume_ZG'),
 (0.0047155984839162045, 'low_x_boll_lb_GOOG'),
 (0.004054345506847342, 'high_x_boll_ub_AMD'),
 (0.002605681837705293, 'volume_GOOG'),
 (0.0, 'low_x_boll_lb_TSLA'),
 (0.0, 'low_x_boll_lb_NVDA'),
 (0.0, 'low_x_boll_lb'),
 (0.0, 'high_x_boll_ub_ATVI'),
 (0.0, 'high_x_boll_ub')]

In [263]:
model = CatBoostStockClassifier(X_train, y_train)
model.fit()
predictions = model.predict(X_test)

confusion_matrix(y_test, predictions)

array([[ 533,  513,  167],
       [ 472, 1690,  305],
       [ 582,  553,  300]], dtype=int64)

In [264]:
feat_importance = [(imp, feat) for imp, feat in zip(model.model.get_feature_importance(), all_data.columns)]
feat_importance.sort(reverse=True)
feat_importance

[(9.956795117635108, 'day'),
 (6.712834134838032, 'weekday'),
 (4.030728195521534, 'hour'),
 (3.988249368650029, 'rsi_14'),
 (2.0755914630796903, 'volume_10_sma'),
 (1.919790685348889, 'macdh'),
 (1.4704797905226943, 'boll'),
 (1.4461223786976707, 'close'),
 (1.2661008576072414, 'boll_AMD'),
 (1.257618784385732, 'boll_BABA'),
 (1.2451932891469562, 'high_-5~0_max'),
 (1.20022100740502, 'rsi_14_TSLA'),
 (1.1225745532607951, 'volume_10_mstd'),
 (1.117260417130515, 'volume_-5~0_min'),
 (1.1140770752515734, 'rsi_14_BABA'),
 (1.0882443138036673, 'mfi'),
 (1.0826857122249072, 'chop'),
 (1.059347354985534, 'low'),
 (1.0175703100850548, 'volume_-5~0_max'),
 (0.9061285734444137, 'high_-5~0_max_BABA'),
 (0.9045739365756225, 'close_-5~0_max'),
 (0.8798097384913522, 'low_-5~0_min'),
 (0.8568744139079616, 'low_-5~0_min_BABA'),
 (0.8557384424423855, 'boll_MSFT'),
 (0.8333052161411083, 'boll_TSLA'),
 (0.8046834367945311, 'rsi_14_AMD'),
 (0.7880476141314654, 'volume_10_ema'),
 (0.769772446300661, 'macdh_TSLA'),
 (0.7693643749256639, 'macdh_BABA'),
 (0.7685431498659573, 'chop_BABA'),
 (0.7470486969235864, 'open_-5~0_max_BABA'),
 (0.7151145410755723, 'high'),
 (0.7103442154661315, 'macdh_MSFT'),
 (0.7002329203001906, 'close_-5~0_min'),
 (0.6866223405198663, 'close_-5~0_max_AMD'),
 (0.6625376854162468, 'rsi_14_NVDA'),
 (0.6465967610391928, 'high_-5~0_min'),
 (0.6351710924376459, 'rsi_14_MSFT'),
 (0.628172986271771, 'high_-5~0_max_AMD'),
 (0.6241902107571496, 'open_-5~0_max_AMD'),
 (0.6211020841230658, 'low_-5~0_min_AMD'),
 (0.6192371329831563, 'close_BABA'),
 (0.60921518116709, 'high_BABA'),
 (0.6063413591243915, 'close_-5~0_max_MSFT'),
 (0.602424956062077, 'close_-5~0_max_BABA'),
 (0.5790484646873504, 'low_-5~0_max_MSFT'),
 (0.5571582699045639, 'high_-5~0_min_NVDA'),
 (0.525795968618018, 'low_-5~0_min_MSFT'),
 (0.5228166741340815, 'open'),
 (0.5224243148936543, 'open_BABA'),
 (0.5153124250593735, 'low_-5~0_max'),
 (0.5099783983268072, 'close_-5~0_max_TSLA'),
 (0.5061507047313604, 'chop_MSFT'),
 (0.5018255408330022, 'volume_-5~0_min_MSFT'),
 (0.50085777914133, 'close_MSFT'),
 (0.4974764991695942, 'volume_-5~0_min_BABA'),
 (0.491902913026042, 'high_-5~0_min_TSLA'),
 (0.4847485946105022, 'volume'),
 (0.4792032496891871, 'boll_NVDA'),
 (0.47192924800829783, 'mfi_MSFT'),
 (0.4503497308045466, 'close_-5~0_min_TSLA'),
 (0.4501664008651903, 'chop_AMD'),
 (0.44853190121851483, 'macdh_NVDA'),
 (0.4427924383972531, 'open_-5~0_min_TSLA'),
 (0.4413686276809712, 'chop_TSLA'),
 (0.4260452971691086, 'open_-5~0_max'),
 (0.4221236959799382, 'macdh_AMD'),
 (0.4206904214768849, 'low_TSLA'),
 (0.4093091698039555, 'low_-5~0_max_BABA'),
 (0.4089529417595899, 'volume_10_ema_MSFT'),
 (0.4083478981583689, 'low_AMD'),
 (0.39770949930095945, 'low_-5~0_max_AMD'),
 (0.39268812778919887, 'low_MSFT'),
 (0.3921425691481999, 'close_-5~0_min_AMD'),
 (0.3909545407863207, 'mfi_BABA'),
 (0.3888557998220488, 'low_-5~0_max_TSLA'),
 (0.3848973667164813, 'volume_10_sma_AMD'),
 (0.3714738435859691, 'mfi_AMD'),
 (0.36271334893104545, 'low_-5~0_min_TSLA'),
 (0.3585848142003985, 'volume_10_ema_AMD'),
 (0.35699233781093564, 'mfi_TSLA'),
 (0.35618264888523604, 'volume_10_sma_BABA'),
 (0.3559323203531112, 'open_-5~0_min_MSFT'),
 (0.3533999154315746, 'close_-5~0_min_MSFT'),
 (0.35245120773106825, 'close_-5~0_min_NVDA'),
 (0.35216928319728524, 'open_-5~0_max_TSLA'),
 (0.3513780893381949, 'close_-5~0_min_BABA'),
 (0.349815521857617, 'low_BABA'),
 (0.3489798639707179, 'volume_-5~0_min_AMD'),
 (0.34327255303404425, 'close_TSLA'),
 (0.3422155101194317, 'volume_-5~0_max_AMD'),
 (0.3412173117535903, 'open_-5~0_min_BABA'),
 (0.33824858762887344, 'volume_10_mstd_TSLA'),
 (0.3373501971410422, 'volume_-5~0_min_TSLA'),
 (0.33155921733737503, 'mfi_NVDA'),
 (0.324220152076398, 'high_-5~0_min_BABA'),
 (0.32070332760263515, 'volume_-5~0_max_MSFT'),
 (0.3205446258192018, 'volume_10_mstd_AMD'),
 (0.31712798952232757, 'chop_NVDA'),
 (0.3141324814332271, 'volume_-5~0_max_TSLA'),
 (0.31176115960287315, 'high_MSFT'),
 (0.30788393243868173, 'volume_-5~0_max_BABA'),
 (0.307621115973791, 'low_NVDA'),
 (0.30460627009696506, 'macdh_GOOG'),
 (0.29532738564702954, 'volume_10_ema_BABA'),
 (0.2934954780582863, 'open_-5~0_min'),
 (0.2843823944637441, 'volume_10_ema_TSLA'),
 (0.27888297636029163, 'rsi_14_GOOG'),
 (0.2730869954811095, 'high_AMD'),
 (0.26495900943838313, 'high_-5~0_max_MSFT'),
 (0.26358405684334446, 'volume_10_mstd_NVDA'),
 (0.2541843021892433, 'volume_10_sma_NVDA'),
 (0.24790011049783872, 'volume_10_ema_GOOG'),
 (0.23920590853800391, 'low_-5~0_min_NVDA'),
 (0.2372328197810986, 'mfi_GOOG'),
 (0.23722318795050581, 'high_-5~0_max_NVDA'),
 (0.2325524482329085, 'high_-5~0_min_MSFT'),
 (0.23080015700323567, 'high_-5~0_min_AMD'),
 (0.22904914868380874, 'high_-5~0_max_TSLA'),
 (0.22809109255314455, 'mfi_ATVI'),
 (0.22410807174969252, 'high_TSLA'),
 (0.2220305397407631, 'volume_-5~0_min_NVDA'),
 (0.2214578899948627, 'close_NVDA'),
 (0.21728776806917854, 'open_-5~0_min_AMD'),
 (0.21544575184574197, 'open_-5~0_max_NVDA'),
 (0.20792076290494874, 'volume_10_mstd_GOOG'),
 (0.20689036327276483, 'open_-5~0_min_NVDA'),
 (0.2066970307972697, 'volume_10_sma_MSFT'),
 (0.20389403709673307, 'volume_10_mstd_BABA'),
 (0.20065181650912733, 'open_TSLA'),
 (0.19921358220594085, 'mfi_ZG'),
 (0.19836137757182146, 'volume_10_sma_TSLA'),
 (0.19817344195235612, 'volume_10_mstd_MSFT'),
 (0.1920678656420508, 'open_MSFT'),
 (0.18927009173695322, 'high_NVDA'),
 (0.18868161561876765, 'macdh_ATVI'),
 (0.18726735131549113, 'volume_10_ema_ZG'),
 (0.1869666500532107, 'volume_10_sma_ZG'),
 (0.1787632998089269, 'low_-5~0_max_NVDA'),
 (0.1758447445613746, 'open_-5~0_max_MSFT'),
 (0.16771143883523823, 'open_AMD'),
 (0.1638228541167633, 'rsi_14_ZG'),
 (0.16050417388251, 'volume_-5~0_min_GOOG'),
 (0.15603183721643252, 'close_AMD'),
 (0.15076292665477561, 'rsi_14_ATVI'),
 (0.14877408389372326, 'volume_-5~0_max_NVDA'),
 (0.14834782341076017, 'volume_10_ema_NVDA'),
 (0.13899419159037923, 'chop_ATVI'),
 (0.1337308607978156, 'macdh_ZG'),
 (0.13297354836986783, 'low_-5~0_min_ATVI'),
 (0.13295212294732428, 'volume_MSFT'),
 (0.13139928980380866, 'volume_-5~0_min_ATVI'),
 (0.12734080710528892, 'close_-5~0_max_NVDA'),
 (0.12066700015202722, 'chop_GOOG'),
 (0.11714462723217693, 'volume_-5~0_max_ATVI'),
 (0.11465122061547868, 'close_-5~0_min_ATVI'),
 (0.1129400459519299, 'volume_BABA'),
 (0.10905879119809367, 'volume_10_sma_GOOG'),
 (0.10570296815469908, 'open_-5~0_min_ATVI'),
 (0.10478549883550278, 'volume_-5~0_min_ZG'),
 (0.10283891268404277, 'boll_ZG'),
 (0.09659863874524159, 'boll_GOOG'),
 (0.09541061345494, 'volume_NVDA'),
 (0.08934655078643898, 'volume_TSLA'),
 (0.08517450563410796, 'close_ZG'),
 (0.08291044092316924, 'close_-5~0_max_ATVI'),
 (0.08279922528116007, 'volume_10_ema_ATVI'),
 (0.07814196098513994, 'high_-5~0_min_ATVI'),
 (0.06963543615481728, 'high_-5~0_min_ZG'),
 (0.06957305456938725, 'volume_-5~0_max_GOOG'),
 (0.06820469957583852, 'low_-5~0_min_GOOG'),
 (0.06612997077543006, 'chop_ZG'),
 (0.06605598818258858, 'open_-5~0_max_ATVI'),
 (0.06269417312980599, 'close_GOOG'),
 (0.05914952575065706, 'volume_10_mstd_ATVI'),
 (0.05850287350780168, 'high_-5~0_max_GOOG'),
 (0.05747743213482255, 'close_ATVI'),
 (0.0570680887804689, 'low_-5~0_max_ZG'),
 (0.05444896405212599, 'volume_10_mstd_ZG'),
 (0.05331865830288308, 'close_-5~0_max_ZG'),
 (0.0505632318590843, 'open_NVDA'),
 (0.05037430686231035, 'boll_ATVI'),
 (0.04580102744856992, 'open_-5~0_min_ZG'),
 (0.04227952124784871, 'volume_ZG'),
 (0.04116610261783356, 'open_GOOG'),
 (0.03988425662242184, 'low_-5~0_max_ATVI'),
 (0.03503478151133156, 'open_ATVI'),
 (0.034680350100701904, 'low_-5~0_min_ZG'),
 (0.03313215704103486, 'volume_AMD'),
 (0.032915225601304055, 'high_-5~0_min_GOOG'),
 (0.03203885698290452, 'volume_-5~0_max_ZG'),
 (0.031241550702934637, 'volume_GOOG'),
 (0.028825213192456157, 'open_-5~0_min_GOOG'),
 (0.02801603803503653, 'volume_10_sma_ATVI'),
 (0.026929801354479976, 'low_ZG'),
 (0.024966507397818596, 'close_-5~0_min_GOOG'),
 (0.02452457728302736, 'high_-5~0_max_ATVI'),
 (0.024116427147084157, 'low_ATVI'),
 (0.023546434151567857, 'low_GOOG'),
 (0.022399642744966298, 'high_ATVI'),
 (0.020163691829739778, 'high_-5~0_max_ZG'),
 (0.017433739670132235, 'close_-5~0_max_GOOG'),
 (0.01667662857458648, 'high_ZG'),
 (0.011056329116754247, 'volume_ATVI'),
 (0.010176718137628753, 'open_-5~0_max_ZG'),
 (0.004749717880287285, 'open_ZG'),
 (0.0017775320104607816, 'open_-5~0_max_GOOG'),
 (0.0017407267058738973, 'high_GOOG'),
 (0.0012901429711768657, 'low_-5~0_max_GOOG'),
 (0.0, 'close_-5~0_min_ZG')]