In [19]:
import numpy as np
import pandas as pd
import os

In [14]:
DATA_PATH = "./data/prices/tech_companies_15minute.csv"
TRAIN_PATH = "./data/prices/tech_companies_15minute_train.csv"
TEST_PATH = "./data/prices/tech_companies_15minute_test.csv"

TEST_RATIO = 0.2

In [15]:
data = pd.read_csv(DATA_PATH, index_col=0)
data.sample(10)

,volume,open,close,high,low,date,ticker
382448,329240.0,42.2360,42.3375,42.3870,42.1490,2020-09-17 15:14:00,TTD
130652,7852.0,198.6125,198.6650,198.6650,198.5625,2021-07-14 21:30:00,NVDA
354940,205336.0,80.1650,80.1600,80.3000,80.0900,2021-09-08 19:15:00,ATVI
307674,15296.0,155.2000,155.1800,155.2500,155.1000,2021-11-19 21:45:00,AMD
273483,198773.0,54.8200,54.8717,54.8799,54.7600,2021-09-15 15:45:00,INTC
132500,2815563.0,224.4434,223.4700,224.4665,222.7000,2021-08-25 14:00:00,NVDA
326695,3413.0,252.0700,251.8200,252.1500,251.8200,2021-04-07 12:30:00,PYPL
109523,199198.0,815.4700,824.0000,825.4400,815.2400,2022-01-28 13:30:00,TSLA
415969,17450.0,53.7800,53.9600,53.9900,53.7300,2020-05-21 18:49:00,ZG
138148,3925682.0,294.6720,288.5400,295.1000,288.2600,2022-01-04 15:30:00,NVDA

In [16]:
dates = data.apply(lambda row: pd.Timestamp(row["date"]), axis=1)
dates

0        2020-04-06 07:59:00
1        2020-04-06 08:14:00
2        2020-04-06 08:29:00
3        2020-04-06 08:44:00
4        2020-04-06 08:59:00
                 ...
445782   2022-04-04 19:00:00
445783   2022-04-04 19:15:00
445784   2022-04-04 19:30:00
445785   2022-04-04 19:45:00
445786   2022-04-04 20:00:00
Length: 445787, dtype: datetime64[ns]

In [17]:
from_date = dates.min()
to_date = dates.max()

time_border = to_date - (to_date - from_date) * TEST_RATIO
train_data = data[dates <= time_border]
test_data = data[dates > time_border]

assert train_data.shape[0] + test_data.shape[0] == data.shape[0]

train_data.sample(10)

,volume,open,close,high,low,date,ticker
216362,495725.0,214.88,214.8000,214.95,214.3700,2021-06-23 15:00:00,BABA
133678,9543.0,219.60,219.4600,219.60,219.4100,2021-09-22 20:15:00,NVDA
322478,295.0,221.49,221.6500,221.65,221.4900,2020-12-15 00:45:00,PYPL
157722,170659.0,3480.07,3474.3941,3484.43,3473.9200,2021-06-18 15:15:00,AMZN
328537,85045.0,260.89,261.3350,261.39,260.3601,2021-05-26 15:30:00,PYPL
425573,12313.0,95.72,95.6175,95.88,95.4800,2021-08-20 15:00:00,ZG
92418,41893.0,660.15,661.0000,662.00,660.1000,2020-12-29 14:00:00,TSLA
216271,1997.0,211.26,211.1000,211.26,211.1000,2021-06-21 23:45:00,BABA
266381,1404127.0,64.83,64.5517,64.86,64.4900,2021-03-23 14:30:00,INTC
422231,5116.0,154.41,154.6574,154.73,154.4100,2021-03-15 17:45:00,ZG

In [18]:
train_data.to_csv(TRAIN_PATH)
test_data.to_csv(TEST_PATH)